.icon-wrapper svg {
    width: 25px;
    height: 25px;
  }
  
  .event-icon-wrapper svg {
    width: 20px;
    height: 20px;
  }
  .event:hover circle {
    fill: #4444AB;
  }
  
  /* Add this CSS for tooltip styling */
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
  
  .unselectable {
    user-select: none;         /* Prevent text selection */
  }
  
  /* For older browsers that might need vendor prefixes */
  .unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Edge, Opera, Safari */
  }
  